
@{
    ViewBag.Title = "Coverage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Coverage</h2>

<div class="left-div">
    <h4>Coverage content</h4>
    <p>Key management, User Management and Host Management can be done via the EpsilonVPN Portal (ASP.net MVC application). SQLServer Database RSA Key Storage/Management. SMTP Enabled allowing File attachments. Also uses J# and Java's BigInteger class to generate large primes at the Client Side.</p>
    <p>
The package consists of a Java Server, Multiple Clients, and an ASP.net Management Portal. The encryption procedures are strong, and it is recommended not to use 4096bit as a result of loss of accuracy in prime number key generation. The best in Sockets Programming and Multi-threading in Java and C#.NET; please it's for your consumption. Printing of Communique available. Ultimate power at your hands.</p>
</div>
<div class="right-div-faq-block">
    @{ Html.RenderAction("FaqBlock", "Home", new {@pageTitle = ViewBag.Title}); }
</div>